<% if (!token) { %>
<div class="container">
  <br />

  <div class="row">
    <div class="col s12">
      <button
        class="can-pass-login-button"
        data-redirect-uri="http://localhost:3002/auth/cryptobadge/callback"
        data-state="random string"
        data-domain="https://canpass.me"
        data-text="Sign in with can-pass"
      ></button>
    </div>
  </div>
</div>
<% } else { %> <% include nav.ejs %> <% } %>
