<nav>
  <div class="nav-wrapper blue darken-1">
    <a href="/" class="brand-logo">CAN demo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Transfer</a></li>
      <li><a href="/check-balance">Check balance</a></li>
      <li><a href="/transfer-history">Transfer history</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
