<!DOCTYPE html>

<html>

<head>
  <title>Check Balance</title>
  <% include components/head-common.ejs %>
  <% include components/head-highlight-code.ejs %>
</head>

<body>
  <% include components/header.ejs %>

  <div class="container">
    <% if (token) { %>
    <div class="row">
      <div class="col s3"></div>
      <div class="col s12 m6">
        <div class="card blue lighten-5">
          <div class="card-content">
            <span class="card-title">Check Balance</span>
            <form>
              <div class="row">
                <div class="input-field">
                  <input placeholder="Your CAN Account" id="account-check-balance" type="text" value="<%= CANAccount %>">
                  <label for="account-check-balance">Your CAN Account</label>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  Account Balance:

                  <!-- Display of balance -->
                  <span id="account-balance"></span>

                </div>
                <div class="col s6">
                  <button class="btn waves-effect waves-light" type="button" onclick="checkBalance()">Check</button>
                </div>
              </div>
              <form>
          </div>
        </div>
      </div>
      <div class="col s3"></div>
    </div>
    <% } %>

    <div class="row">
      <div class="col">
        <% include components/id-display-sample-snippet.ejs %>
      </div>
    </div>
  </div>

  <script id="id-snippet-query-balance">
    function queryBalance(account) {
      /**
       * Get balance information from blockchain network
       */
      return fetch('https://explorer.canfoundation.io/v1/chain/get_currency_balance', {
        method: 'POST',
        body: JSON.stringify({
          code: "eosio.token",
          account,
          symbol: 'CAT',
        }),
      })
        .then(res => res.json())
        .then(balance => {
          if (balance[0]) {
            return balance[0];
          }
          
          alert("Not found!");
          return '';
        });
    }
  </script>

  <script>
    const inputAccountEl = document.getElementById('account-check-balance');
    const displayBalanceEl = document.getElementById('account-balance');

    (() => {
      // display sample snippet
      document.getElementById('id-display-sample-snippet').innerText = document.getElementById('id-snippet-query-balance').innerText;
      
      // format code
      hljs.initHighlightingOnLoad();
    })();

    function checkBalance() {
      const CANAccount = inputAccountEl.value;
      queryBalance(CANAccount).then(b => {
        displayBalanceEl.innerText = b;
      });
    }
  </script>
</body>

</html>