<!DOCTYPE html>

<html>

<head>
  <title>Check Balance</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="right-align">
          <% if (!token) { %>
          Not found, return to <a href="/">HomePage</a>
          <% } else { %>
          <a href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>

    <% if (token) { %>
    <div class="row">
      <div class="col s3"></div>
      <div class="col s12 m6">
        <div class="card blue lighten-5">
          <div class="card-content">
            <span class="card-title">Check Balance</span>
            <form>
              <div class="row">
                <div class="input-field">
                  <input placeholder="Your CAN Account" id="account-check-balance" type="text">
                  <label for="account-check-balance">Your CAN Account</label>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  Account Balance:
                  <span id="account-balance"></span>
                </div>
                <div class="col s6">
                  <button class="btn waves-effect waves-light" type="button" onclick="checkBalance()">Check</button>
                </div>
              </div>
              <form>
          </div>
        </div>
      </div>
      <div class="col s3"></div>
    </div>
    <% } %>
  </div>

  <script>
    getMyCanAccount();
    async function getMyCanAccount() {
      const myCanAccountResponse = await fetch('http://localhost:3002/getMyCanAccount', {
        method: 'GET',
      })
      const canAccount = await myCanAccountResponse.json();
      document.getElementById('account-check-balance').value = canAccount;
    }
    async function checkBalance() {
      const account = document.getElementById('account-check-balance').value;
      const info = JSON.stringify({ "code": "eosio.token", "account": account, "symbol": "CAT" });
      const response = await fetch('https://api.canfoundation.io/v1/chain/get_currency_balance', {
        method: 'POST',
        body: info
      });
      const balance = await response.json();
      if (balance[0]) {
        document.getElementById('account-balance').innerText = balance[0];
      } else {
        alert("Not found!");
      }
    }
  </script>
</body>

</html>