<!DOCTYPE html>
<html>

<head>
  <title>3rd party Home</title>
  <script src="/can-pass-api.js"></script>
</head>

<body>

  <p>Sign Transaction Example</p>

  <a href="/transferCat">Transfer 1 CAT</a>

  <a href="/transferCatPopup">Transfer 1 Cat with popup style</a>
  
  <script>
    (function () {
        const canPass = window.CanPass && window.CanPass.getInstance();
        const store = 'localStore';
        const clientID = '29db89d6ee2a4bbcb8a043106ead790f';
        canPass.init({
          clientId: clientID,
          version: 'v1.0',
          endPoint: 'https://pro.api.cryptobadge.app/can-keys-dev/graphql',
          signTxURL: 'https://canpass.me/auth/sign-transaction',
          logger: console,
          store: store,
        });
        canPass.openPopup();
      })();

    // let canPass;

    // (() => {
    //   canPass = window.CanPass && window.CanPass.getInstance();

    //   const store = 'localStore';
    //   const clientID = '29db89d6ee2a4bbcb8a043106ead790f';
    //   canPass.init({
    //     clientId: clientID,
    //     version: 'v1.0',
    //     endPoint: 'https://pro.api.cryptobadge.app/can-keys-dev/graphql',
    //     signTxURL: 'https://canpass.me/auth/sign-transaction',
    //     logger: console,
    //     store: store,
    //   });
    // })();
  </script>
</body>

</html>